@use "../../../utils/fonts"
@use "../../../utils/colors"

.buttonText
    text-align: center

    font-family: Roboto
    font-size: 1rem
    font-style: normal
    font-weight: 700
    line-height: 1.5rem
    color: colors.$color
    background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%))
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.arrow 
  // Initial state of the arrow
  display: inline-block
  margin-left: 0
  transition: margin-left 0.3s ease-in 


.buttonClass
    @include fonts.fontbold
    display: flex
    // height: 2.9467rem
    // padding: var(--Size-08, .5rem) var(--Size-16, 1rem)
    // justify-content: center
    // align-items: center
    // gap: .5357rem
    width: inherit

    height: 2.946rem
    padding: 0.4rem 0.9375rem
    justify-content: center
    align-items: center
    gap: 0.625rem
    align-self: stretch
    color: colors.$fontColor_secondary !important
    border: none !important    

    // style
    border-radius: 1.875rem
    border: 2px solid var(--gradient-surface, #009241) !important
    border-color: var(--gradient-surface, #009241) !important

    background: transparent !important
    /* Website Shadow - Green */
    box-shadow: 0px 4.14219px 49.70634px 0px rgba(227, 203, 127, 0.30)
    backdrop-filter: blur(1.0355486869812012px)
    transition: all 0.3s ease-in-out


    

    &:hover
        // background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%))
        // border-color: var(--gradient-surface, #009241) !important
        // color: colors.$fontColor_secondary !important
        // box-shadow: 0rem .1072rem 0rem 0rem rgba(0, 0, 0, 0.04)
        
        // padding: .525rem 1.0625rem
        cursor: pointer
        height: 2.765rem

        width: calc(100% - 0.2rem) !important

        // padding: 0rem !important

        
        .arrow 
            margin-left: 10px 

    &:active
        // background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%))
        // border-color: var(--gradient-surface, #009241) !important
        // color: colors.$fontColor_secondary !important
        // box-shadow: 0rem .1072rem 0rem 0rem rgba(0, 0, 0, 0.04)
        cursor: pointer 
        opacity: .7       
