@use '../../utils/colors'
@use '../../utils/fonts'
@use '../../utils/breakpoints'

.underLine
    position: relative
    ::before
        content: ""
        position: absolute
        width: 8.5rem
        height: 0.5rem
        flex-shrink: 0
        border-radius: 1.25rem
        background: colors.$linearGradientLine
        top: 90%
        left: 1rem
    
.mainSection
    width: 100%
    background: colors.$radialGradient
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative

.sectionTitle
    @include fonts.fontDesktopH1Bold
    width: 86.76%
    padding-top: 0.9rem
    padding-bottom: 1rem
    margin-top: 4rem
    position: relative
    z-index: 2
    display: flex
    flex-direction: column

.triangleIcon
    position: absolute 
    top: 0 
    right: 86.8%
    transform: translateX(-60%)
    transform: translateY(19%) 
    z-index: 1

.filterChipsContainer
    display: inline-flex
    align-items: flex-start
    align-content: flex-start
    gap: 1rem
    flex-wrap: wrap
    margin-top: 2.3rem
    margin-bottom: 1.8rem
    margin-left: 0.6rem

.filterChip
    @include fonts.fontDesktopH5Regular
    display: flex
    padding: 0.1rem 0.92rem
    justify-content: center
    align-items: center
    border-radius: 0.5rem
    border: 1px solid var(--m-3-sys-light-outline, #79747E)

.activeFilterChip
    @include fonts.fontDesktopH5Regular
    color: var(--character-primary-inverse, #FFF)
    display: flex
    padding: 0.15rem 0.92rem 
    justify-content: center
    align-items: center
    border-radius: 0.5rem
    background: var(--primary-6, #009241)

.tickMark
    margin-left: -5px
    padding-right: 0.5rem

.jobCard
    display: flex
    width: 81%
    margin-bottom: 2.5rem
    padding: 1.5rem 2.5rem
    align-items: center
    gap: 0.625rem
    border-radius: 1.25rem
    border: 1px solid var(--gradient-surface, #009241)
    background: var(--neutral-1, #FFF)

    &:hover
        outline: 2.5px solid var(--gradient-surface, #009241)
        outline-offset: -2.5px
        cursor: pointer
        .forwardIcon 
            margin-left: 10px 



.forwardIcon 
  // Initial state of the arrow
  display: inline-block
  margin-left: 0
  transition: margin-left 0.3s ease 

.jobInnerCard
    display: flex
    padding: 0rem 0.2rem
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap: 1rem
    flex: 1 0 0
    align-self: stretch

.jobTitleDescContainer
    display: flex
    flex-direction: column
    gap: 0.5rem

.jobTitle
    @include fonts.fontDesktopH4Bold

.jobDescription
    @include fonts.fontDesktopBodyRegular
    color: var(--character-secondary-45, rgba(0, 0, 0, 0.45))

.jobTypeLocationContainer
    display: flex
    gap: 1rem
    margin-top: 0.2rem

.jobType
    @include fonts.fontDesktopH5Regular

.jobLocation
    @include fonts.fontDesktopH5Regular
    color: var(--character-secondary-45, rgba(0, 0, 0, 0.45))

.SubmitButton
    display: flex
    margin-top: 0.4rem
    margin-bottom: 4rem
    width: 11.8125rem
    height: 3.5rem
    padding: 0.4rem 0.9375rem
    justify-content: center
    align-items: center
    gap: 0.625rem
    border-radius: 0.625rem
    border: 1px solid var(--gradient-surface, #009241)
    background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%))
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04)
    color: var(--character-primary-inverse, #FFF)
    text-align: center
    @include fonts.fontDesktopH5Bold
  
@media(max-width: 830px)
    .sectionTitle
        @include fonts.fontMobileH1Bold
        line-height: 120% 
        margin-top: 1rem
        padding-bottom: 0

    .jobCard
        display: flex
        width: 72.5%
        margin-bottom: 1.5rem

    .jobInnerCard
        align-items: center

    .jobTitle
        @include fonts.fontDesktopH4Bold
        text-align: center

    .jobDescription
        text-align: center

    .jobTypeLocationContainer
        flex-direction: column

    .filterChipsContainer
        margin-left: 0rem
    
    .filterChip
        @include fonts.fontMobileH5Regular
        padding: 0.1rem 0.92rem
        
    .activeFilterChip
        @include fonts.fontMobileH5Regular

    .forwardIcon
        display: none
    
    .underLine
        position: relative
        ::before
            width: 5rem

    .triangleIcon, .SubmitButton
        display: none

        


