@use "../../../utils/fonts"
@use "../../../utils/colors"

.buttonClass
    @include fonts.fontbold
    display: flex
    // height: 2.9467rem
    // padding: var(--Size-08, .5rem) var(--Size-16, 1rem)
    // justify-content: center
    // align-items: center
    // gap: .5357rem
    padding: 0.5rem 1rem !important
    position: relative
    height: 3rem
    padding: 0.4rem 0.9375rem
    justify-content: center
    align-items: center
    gap: 0.625rem
    align-self: stretch
    color: colors.$fontColor_secondary !important
    border: none !important    

    // style
    border-radius: 1.875rem
    border: 1px solid var(--gradient-surface, #009241)
     border-color: var(--gradient-surface, #009241) !important

    background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%))
    /* Website Shadow - Green */
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04)
    backdrop-filter: blur(1.0355486869812012px)
    transition: width height 0.3s ease
    overflow: hidden

    &:hover
        background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%))
        border-color: var(--gradient-surface, #009241) !important
        color: colors.$fontColor_secondary !important
        // box-shadow: 0rem .1072rem 0rem 0rem rgba(0, 0, 0, 0.04)
        cursor: pointer
        
        // height: 3.1rem
        scale: 0.99
        width: calc(100% - 0.2rem) !important

        // opacity: .7

    &:active
        background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%))
        border-color: var(--gradient-surface, #009241) !important
        color: colors.$fontColor_secondary !important
        // box-shadow: 0rem .1072rem 0rem 0rem rgba(0, 0, 0, 0.04)
        cursor: pointer   
        // opacity: .7 


.buttonClass:hover::before 
        transform: translateY(-50%) // Move up by 10% of the element's height, adjust as needed

.buttonClass:hover::after 
        transform: translateY(-50%) // Move up by 10% of the element's height, adjust as needed
    


.buttonClass::before
    border: 25px solid hsla(0, 0%, 100%, 0)
    border-top-color: #fff
    opacity: 0.8
    content: ""
    position: absolute
    top: 200%
    left: -38%
    width: 176%
    height: 804%
    border-radius: 39.875rem
    z-index: -1
    transition: transform 0.7s ease-in // Apply a smooth transition with ease
    transform: translateY(0%)

.buttonClass::after
    border: 25px solid hsla(0, 0%, 100%, 0)
    border-top-color: #fff
    opacity: 0.6
    content: ""
    position: absolute
    top: 250%
    left: -38%
    width: 176%
    height: 804%
    border-radius: 39.875rem
    z-index: -1
    transition: transform 0.7s ease-in // Apply a smooth transition with ease
    transform: translateY(0%)