@use "../../utils/fonts"
    
.HeaderClass
    display: flex
    justify-content: center
    // align-items: start
    // flex-direction: row
    padding: 0 0
    background-color: rgb(255, 255, 255)
    // box-shadow: 0 0 10px 0 rgb(255, 255, 255)
    // z-index: 100
    // position: fixed
    
    height: 55px
    top:0
    width: 100%
    // transition: all 0.3s ease-in-out
    

.DivClass
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: row
    padding: 0 0
    
    background-color: rgb(255, 255, 255)
    box-shadow: 0 0 10px 0 rgb(182, 182, 182)
    z-index: 100
    position: fixed
    width: 100%
    top: 0
    height: inherit
    // border-bottom: 1px solid#aeaeae0
    
.MenuDivClass
    display: flex
    justify-self: left
    justify-content: center
    align-items: center
    flex-direction: row
    // width: 100%
    // width: auto


.LogoClass
    @include fonts.fontbold
    display: inline
    margin: 0 0 0 0
    justify-self: left
    align-self: center
    
.userLogoClass
    width: 20px
    height: 20px
    
.dividerClass
    display: flex
    align-items: center
    gap: 10px
    align-self: stretch
    height: auto
    
.divClass2
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 0 0 0 10px


.divClassRow
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    
.divButtonContainer
    display: flex
    flex-direction: column
    align-items: center
    height:100%
    // justify-content: center


.barColor
    background: linear-gradient(90deg, #5FFF27 0.02%, rgba(237, 251, 239, 0.68) 61.33%, rgba(204, 240, 58, 0.68) 98.45%)
    border-radius: 20px
    width: 81px
    height: 4px
    position: relative


