.background

    display: flex
    padding: 16px 32px 32px 32px
    align-items: flex-start
    gap: var(--Spacing-64, 64px)
    align-self: stretch
    zindex: 5
    
    background: rgba(25, 25, 25, 0.90)
    backdrop-filter: blur(10px)
    border-radius: 20px