@use '../../utils/colors'
@use '../../utils/fonts'
@use '../../utils/breakpoints'

$small: breakpoints.$small
$medium: breakpoints.$medium

// main section

.heroSection
    width: 100%
    background: colors.$radialGradient
    display: flex
    flex-direction: column
    
.tag
    width: 15.77%
    margin-top: 2rem

.divTitleContainer
    width: 86.11%
    margin: auto
    text-align: center
    margin-top: 1rem

.titleText
    @include fonts.fontDesktopH2Bold
    text-align: center

.underLine
    position: relative
    ::before
        content: ""
        position: absolute
        width: 5.85rem
        height: 0.5rem
        flex-shrink: 0
        border-radius: 1.25rem
        background: colors.$linearGradientLine
        top: 90%

.subTitleContainer
    width: 86.11%
    text-align: center
    margin: auto
    margin-top: 1rem

.subTitleText
    @include fonts.fontDesktopH5Regular
    text-align: center

@media (max-width: $small)
    .mobileView
        display: flex

    .desktopView
        display: none

    .heroSection
        justify-content: center

    .titleText
        @include fonts.fontMobileH1Bold
    .subTitleText
        @include fonts.fontMobileH4Regular

    .subTitleContainer
        width: 90%

    .divTitleContainer
        width: 90%

    .underLine
        ::before
            left: 0rem
            width: 5.5rem

    .spacer2
        padding-top: 0rem

    .spacer3
        padding-top: 1.5rem

    .spacer4
        padding-top: 4.1rem

@media (max-width: 597px)
    .underLine
        ::before
            left: 0rem
            width: 5.5rem

// tiers container

.divTiersContainer
    width: 87.11%
    height: 11.5rem
    margin: auto
    margin-top: 0.3rem
    display: flex
    align-items: flex-start
    border-radius: 1.25rem
    background: #191919

.tierContainer
    width: 25.4%
    height: auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 0.5rem
    flex: 1 0 0
    align-self: stretch
    padding: 0% 0.645%

.tierContainerType
    @include fonts.fontDesktopH5Bold
    width: 94.92%
    text-align: center
    color: var(--character-primary-inverse, #FFF)

.tierContainerPrice1
    width: 94.92%
    text-align: center
    color: var(--character-primary-inverse, #FFF)
    @include fonts.fontDesktopH4Bold

.tierContainerPrice2
    width: 94.92%
    text-align: center
    color: var(--character-primary-inverse, #FFF)
    @include fonts.fontDesktopH5Regular

.tierContainerButton
    width: 94.92%
    display: flex
    justify-content: center
    align-items: center

.tierContainerCTA
    display: flex
    width: 11.785rem
    height: 3.5rem
    padding: 0.5rem 0.9375rem
    justify-content: center
    align-items: center
    gap: 0.625rem
    color: var(--character-primary-inverse, #FFF)

    border-radius: 0.625rem
    border: 1px solid var(--gradient-surface, #009241)
    background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%))

    /* Website Shadow - Green */
    box-shadow: 0px 4.14219px 49.70634px 0px rgba(227, 203, 127, 0.30)
    backdrop-filter: blur(1.0355486869812012px)

    @include fonts.fontDesktopH5Bold

.tierContainerFiller
    display: flex
    width: 22.3%
    padding: 1.5rem 0.5rem
    align-items: center
    gap: 0.16738rem
    flex-shrink: 0
    align-self: stretch

.desktopView
    display: none

@media (max-width: 1110px)
    .tierContainerType
        @include fonts.fontDesktopH5Bold

    .tierContainerPrice1
        @include fonts.fontDesktopH5Bold

    .tierContainerPrice2
        @include fonts.fontDesktopH5Regular
        font-size: 1.1125rem

    .tierContainerCTA
        width: 79.86%
        @include fonts.fontDesktopH6Bold

@media (max-width: $medium)

    .mobileView
        display: none

    .desktopView
        display: flex

    .divTiersContainer
        height: 7.4375rem
        margin-bottom: 1.5rem

    .tierContainer
        flex-direction: row
        gap: 0rem
    
    .tierContainerType
        @include fonts.fontMobileH5Regular
        font-size: 1.2875rem
        text-align: left

    .tierContainerPrice1
        width: 94.92%
        @include fonts.fontMobileH2Bold
        font-size: 1.6625rem

    .tierContainerPrice2
        width: 94.92%
        text-align: center
        @include fonts.fontMobileH2Bold
        font-size: 1.6625rem

    .tierContainerButton
        width: 94.92%
        margin-right: -2rem

    .innerTierContainer
        width: 87.76%
        height: 100%
        display: flex
        align-items: center
        gap: 0.5rem

@media (max-width: 480px)

    .tierContainerType
        @include fonts.fontMobileH5Regular
        font-size: 1.0875rem

    .tierContainerPrice1
        @include fonts.fontMobileH3Bold
        font-size: 1.3rem

    .tierContainerPrice2
        @include fonts.fontMobileH3Bold
        font-size: 1.3rem
        
    .tierContainerButton
        margin-right: -1rem

    .tierContainerCTA
        height: 3.2rem

//tabs
.divTabsContainer
    display: inline-flex
    padding: 0.25rem  1.5rem
    align-items: center
    gap: 1rem
    border-radius: 1.25rem
    background:  #FFF

.tabsFrame
    .divTabsContainer
        div
            cursor: pointer

.tabsFrame
    display: none

.addPadding
    padding: 0.5rem

.Active
    user-select: none
    position: relative
    color: #000000
    ::before
        content: ""
        position: absolute
        width: 100%
        height: 0.25rem
        flex-shrink: 0
        background: #009241
        top: 100%
        left:0

.tabFontActive
    @include fonts.fontDesktopH5Bold

.inActive
    user-select: none
    color: rgba(0, 0, 0, 0.45)

.tabFontInActive
    @include fonts.fontDesktopH5Regular

@media (max-width: $medium)
    .tabsFrame
        display: flex
        width: 100%
        justify-content: center

@media (max-width: $small)
    .tabFontActive
        @include fonts.fontMobileH5Bold
    .tabFontInActive
        @include fonts.fontMobileH5Regular
    .tabsTagFont
        @include fonts.fontMobileBodyBold

// table
.tableContainer
    width: 87.11%
    margin: auto

.table
    width: 100%

.row
    width: 100%
    display: flex
    padding: 1.45rem 0rem
    padding-bottom: 1.95rem
    align-items: center
    align-self: stretch
    border-bottom: 1.2px solid lightgrey

.row 
  &:nth-child(3),
  &:nth-child(8),
  &:nth-child(14), 
  &:nth-child(18)
    border-bottom: none

.rowTitle1
    @include fonts.fontDesktopH5Medium
    width: 24.76%
    padding: 0rem 0.8rem
    align-items: center
    gap: 0.16738rem
    flex: 1 0 0
    line-height: 100%
    // background: red
    z-index: 1
    white-space: nowrap

.rowElement1
    @include fonts.fontDesktopH5Regular

    width: 25.08%
    padding: 0rem 0.8rem
    display: flex
    justify-content: center
    gap: 0.16738rem
    flex: 1 0 0
    line-height: 100%
    // background-color: green

.blackRowContainer
    width: 100%
    height: 1rem
    display: flex
    padding: 1.7rem 0rem
    // border-bottom: 1px solid black
    // background-color: red
    align-items: center

.blackRowCategory
    @include fonts.fontDesktopH4Bold
    font-size: 1.5rem

    width: 100%
    color: var(--character-primary-inverse, #FFF)
    border-radius: 1.25rem
    background: #191919
    padding: 1rem 1rem
    display: flex
    align-items: center

.rowTitle2
    @include fonts.fontDesktopH5Medium
    width: 24.758%
    padding: 0rem 1rem
    align-items: center
    gap: 0.16738rem
    flex: 1 0 0
    line-height: 110%
    white-space: nowrap

.rowElement2
    @include fonts.fontDesktopH5Regular

    width: 14.71%
    display: flex
    justify-content: center
    gap: 0.16738rem
    line-height: 100%
    align-self: stretch

.checkMark
    width: 1.7rem
    height: 1.7rem //3rem?
    // object-fit: cover
    // display: none

@media  (min-width: 1230px) and (max-width: 1380px)
    .checkMark
        margin-right: 0.85rem

@media  (min-width: 1110px) and (max-width: 1230px)
    .checkMark
        margin-left: 0rem

@media (max-width: 1110px)
    .rowTitle1
        @include fonts.fontDesktopH6Medium
    .rowElement1
        @include fonts.fontDesktopH6Regular
    .row
        padding: 1.45rem 0rem

    .row 
        &:nth-child(1)
            .rowElement1
                &:nth-child(2)
                    margin-left: 1rem

    .blackRowCategory
        @include fonts.fontDesktopH4Bold
        font-size: 1.3rem    
    .checkMark
        margin-right: 0.5rem

@media (max-width: $medium)
    .tableMobileView
        display: none

    .rowTitle1
        @include fonts.fontMobileH5Regular

    .rowElement1
        @include fonts.fontMobileH5Regular
        justify-content: right
        padding-right: 2.3rem

    .blackRowCategory
        @include fonts.fontDesktopH5Bold

    .checkMark
        width: 1.8rem
        height: 1.7rem
        margin-right: -0.5rem

    .inActiveTier
        display: none

@media (max-width: 430px)

    .rowTitle1
        @include fonts.fontMobileH6Regular

    .rowElement1
        @include fonts.fontMobileH6Regular

// util

.spacer1
    padding-top: 3rem

.spacer2
    padding-top: 0.3rem

.spacer3
    padding-top:3rem

.spacer4
    padding-top: 2.3rem

    .underLine
        ::before
            left: -10.5rem
            top: 95%
