.styleSheet_CounterDiv__spubf .ant-input-number .ant-input-number-input-wrap input.ant-input-number-input{
  text-align: center;
  cursor: default;
} 

.ant-input-number-disabled .ant-input-number-input{
  text-align: center;
}

.ant-switch.ant-switch-checked:not(.ant-switch-disabled) {
  background: var(--primary-6, #009241)
}

.ant-switch.ant-switch-checked:hover :not(.ant-switch-disabled) {
  background: var(--primary-6, #009241)
}



.ant-carousel .slick-dots-bottom{
  bottom: -14px;
  gap:0.8rem
}

.ant-carousel .slick-dots li button{
  border-radius: 0.1125rem;
  opacity: 0.3;
  background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%));
  display: flex;
  padding: 0.16875rem 0.89994rem;
  align-items: center;
}

.ant-carousel .slick-dots li.slick-active button{
  border-radius: 0.1125rem;
  background: var(--gradient-surface, linear-gradient(180deg, #009241 0%, rgba(4, 173, 79, 0.84) 100%));
  display: flex;
  padding: 0.16875rem 1.34994rem;
  align-items: center;
  opacity: 1;
}

.ant-tabs-tab div{
  color: var(--character-mark, #000);
  font-family: Roboto;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: 150%;
}

.ant-tabs-tab-active div {
  color: var(--primary-6, #009241) !important;
  font-weight: 500;
  
}
:where(.css-dev-only-do-not-override-3mqfnx).ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible), :where(.css-dev-only-do-not-override-3mqfnx).ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible), :where(.css-dev-only-do-not-override-3mqfnx).ant-tabs .ant-tabs-tab-btn:active, :where(.css-dev-only-do-not-override-3mqfnx).ant-tabs .ant-tabs-tab-remove:active {
  color: var(--primary-6, #009241) !important;
}

.ant-tabs > div:first-child{
  padding: 0px 10px;
}
.ant-tabs-ink-bar {
  background: var(--primary-6, #009241) !important;
}

.styles_Btn1__Ij3L8:hover{
  background: var(--primary-6, #fff) !important;
  color: var(--primary-6, #009241) !important

}

.styles_Btn1__Ij3L8:focus{
  background: var(--primary-6, #fff) !important;
  color: var(--primary-6, #009241) !important

}

:where(.css-dev-only-do-not-override-1vr7spz).ant-input-affix-wrapper::before{
  content: none !important;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-space-compact{
  width: 100% !important;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-progress .ant-progress-bg{
  background: linear-gradient(90deg, #3E9B1D 0.02%, rgba(194, 220, 88, 0.68) 61.84%, rgba(125, 142, 58, 0.68) 98.45%) !important;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path{
  stroke: #561d9b !important;
}