.styleSheet_CounterDiv__spubf .ant-input-number .ant-input-number-input-wrap input.ant-input-number-input{
  text-align: center;
  cursor: default;
} 

.ant-switch.ant-switch-checked:not(.ant-switch-disabled) {
  background: var(--primary-6, #009241)
}

.ant-switch.ant-switch-checked:hover :not(.ant-switch-disabled) {
  background: var(--primary-6, #009241)
}