@import '~antd/dist/antd.css';
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

::-webkit-scrollbar {
  width: 0.1rem; /* You can set this to 0 to completely hide the scrollbar */
}

/* Optional: Add some styling to the track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Optional: Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: 100%;
}



