@use "../../utils/colors"
@use "../../utils/fonts"
@use "../../utils/breakpoints"

$small : breakpoints.$small
$medium : breakpoints.$medium

.featuresSectionDiv
    width: 100%
    // height: 835px
    display: flex
    justify-content: center
    align-items: center
    background: colors.$radialGradient
    padding-top: 4.5rem

.titleText
    @include fonts.fontDesktopH1Bold
    color: colors.$fontColor_primary
    text-align: center

.divTextClass
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.subTitleClass
    margin-top: 0.75rem
    @include fonts.fontDesktopH5Regular
    color: colors.$fontColor_primary
    text-align: center

.divLeftColumn
    display: flex
    justify-content: flex-end
    align-items: center
    width: 100%
    // margin-left: 20px

.divImageContainer
    border-radius: 10px
    box-shadow: 0px 4.14219px 49.70634px 0px rgba(227, 203, 127, 0.30)
    backdrop-filter: blur(1.0355486869812012px)


// featureList sass

.scrollableList
    display: flex
    flex-direction: column
    
    max-width: 505px
    max-height: 449px
    overflow-y: auto
    scrollbar-width: none
    -ms-overflow-style: none
    &::-webkit-scrollbar
        display: none
    overflow-x: hidden

// feature Element sass
.divFeatureElementTextContainer
    max-width: min-content
    padding-left: 3px
    

.divFeatureElementTitle
    @include fonts.fontDesktopH1Bold
    color: colors.$fontColor_primary
    text-align: left
      

.divFeatureElementListText
    @include fonts.fontboldh4
    color: colors.$fontColor_primary
    text-align: left

.divFeatureElementIcon
    display: flex
    width: 100%
    height: 100%
    justify-content: flex-start
    align-items: flex-start

.divFeatureElementIconCheck
    padding-left: 20px
    
.FirstGradientLine
    padding-left: 14%
    margin-top:-7.7px
    margin-left:-15px
    
.SecondGradientLine
    padding-left: 43%
    margin-top:2px

.spacer1
    padding-top: 20px
    width: 1%

.verticalSpacer
    padding-left: 40px

.spacer2
    padding-top: 60px
    width: 1%

.ThridGradientLine
    display: none

.DesktopView
    display: block

.MobileView
    display: none

.MobileView2
    display: none

.makeItRow
    display: flex
    flex-direction: row

.centering
    display: flex
    justify-content: center
    align-items: center

.spacerFeatureList
    padding-top: 60px

.spacerFeatureList2
    padding-top: 60px


@media (max-width: $small) 
    .DesktopView
        display: none
    .MobileView
        display: block

    .MobileView2
        display: flex

    .titleText
        @include fonts.fontMobileH1Bold
        color: colors.$fontColor_primary
        text-align: center
    
    .subTitleClass
        margin-top: 0rem
        @include fonts.fontMobileH5Regular
        color: colors.$fontColor_primary
        text-align: center
        
    .FirstGradientLine
        display: none
    
    .SecondGradientLine
        display: none

    .featuresSectionDiv
        padding-top: 4.2rem
    
    .divLeftColumn
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        margin-top: 1.5rem


    .scrollableList
        display: flex
        flex-direction: column
        max-height: 100%
        overflow-y: auto
        height: min-content
        width: 100%

    .divFeatureElementIcon
        justify-content: center
        align-items: center

    

    .ThridGradientLine
        display: block
        width: 100%
        transform: translate(-0.4rem,-4rem)

    .divFeatureElementTitle
        @include fonts.fontDesktopH2Bold
        text-align: center

    .divFeatureElementListText
        @include fonts.fontH4Regular
        
        


    // .divFeatureElementTextContainer
    //     max-width: max-content
    //     // padding-left: 3px
    //     display: flex
    //     justify-content: center
    //     width: 100%
    //     text-align: center

    .divFeatureElementTextContainer
        display: flex
        justify-content: center
        // width: 100%
        max-width: min-content
        padding-left: 0px
        padding-top:1rem 

    .divFeatureElementIcon
        display: flex
        width: 100%
        height: 60px
        justify-content: center
        align-items: center

    .divFeatureElementIconCheck
        padding-left: 20px


    .verticalSpacer
        display: flex
        width: 100%
        justify-content: center

        padding-left: 0px
        padding-top: 1.6rem
        

    

    .spacerFeatureList
        padding-top: 3.8rem
    

    .spacer2
        padding-top: 43px

        // overflow-y: auto
        // scrollbar-width: none
        // margin-left: 20px
    // .divImageContainer
    //     border-radius: 10px
    //     box-shadow: 0px 4.14219px 49.70634px 0px rgba(227, 203, 127, 0.30)
    //     backdrop-filter: blur(1.0355486869812012px)
    // .divFeatureElementTextContainer
    //     max-width: min-content
    //     padding-left: 3px
    // .divFeatureElementTitle
    //     @include fonts.fontMobileH1Bold
    //     color: colors.$fontColor_primary
    //     text-align: left
    // .divFeatureElementListText
    //     @include fonts.fontboldh4
    //     color: colors.$fontColor_primary
    //     text-align: left
    // .divFeatureElementIcon
    //     display: flex
    //     width: 100%
    //     height: 100%
    //     justify-content: flex-start
    //     align-items: flex-start
    // .divFeatureElementIconCheck
    //     padding-left: 20px
    // .FirstGradientLine
    //     padding-left: 14%
    //     margin-top:-7.7px
    //     margin-left:-15px
    // .SecondGradientLine
    //     padding-left: 43%
    //     margin-top:2px
    // .spacer1
    //     padding-top: 20px
    //     width: 1%
    // .verticalSpacer
    //     padding-left: 40px
    // .spacer2
    //     padding-top: 60px
    //     width: 1%
    // .scrollableList
    //     display: flex
    //     flex-direction: column
    //     max-width: 505px
    //     max-height: 449px
    //     overflow-y: auto
    //     scrollbar-width: none
    //     -ms-overflow-style: none
    //     &::-webkit-scrollbar
    //         display: none
    //     overflow-x: hidden
    // .featuresSectionDiv
    //     width: 100%